*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root{
    /* Background Colors */
    --bg-primary-color : #0c0c0c;
    
    
    /* Text colors */
    --text-primary-color : #f0f0f0;

    /* Spacing Variables */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;


    /* Border colors */
    --border-primary-color:#333333;

    /*  Border Radius */
    --border-rdius-xs : 4px;
    --border-rdius-sm : 8px;
    --border-rdius-md : 12px;
    --border-rdius-lg : 16px;
    --border-rdius-xl : 20px;
    --border-rdius-2xl : 24px;
    
    

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-2xl);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-rdius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
    
}

.block{
    width: 50;
    height: 50;
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: #fdfdfc;
}